<% provide(:title, "Calendar") %>
<!--image from -->
<% provide(:icon_path, "calendar.png") %>
<h1>Touring Calendar</h1>
<ul class="nav">
  <li><a href="/static_pages/home">Home</a></li>
  <li><a href="/static_pages/calendar">Touring Calendar</a></li>
  <li><a href="/static_pages/map">Touring Map</a></li>
  <li><a href="/static_pages/finances">Finance Calculator</a></li>
</ul>
