<% provide(:title, "Tour Finances") %>
<!--image from https://www.goodfreephotos.com/vector-images/stacks-of-hundred-dollar-bills-cash-vector-clipart.png.php-->
<% provide(:icon_path, "finances.png") %>
<div class="finances">
  <%if !@tours.blank?%>
    <% for tour in @tours %>
      <h1><%=tour.title%></h1>
      <h3>Tour Income</h3>
      <ul class="tour income">
        <li>Expected income from shows: <%=show_income = get_tour_show_income(tour.id)%></li>
        <li>Expected income from merch sales: <%=merch_income = get_tour_merch_income(tour.id)%></li>
        <li>Expected total income: <%=show_income + merch_income%></li>
      </ul>
      <h3>Band Payment</h3>
      <ul class="band payment">
      </ul>
    <%end%>
  <%end%>
</div>
