<% provide(:title, "Map") %>
<!--image from https://pixabay.com/vectors/map-scroll-pirate-treasure-29903/-->
<% provide(:icon_path, "map.png") %>
<h1>Tour Map</h1>
<ul class="nav">
  <li><a href="/static_pages/home">Home</a></li>
  <li><a href="/static_pages/calendar">Touring Calendar</a></li>
  <li><a href="/static_pages/map">Touring Map</a></li>
  <li><a href="/static_pages/finances">Finance Calculator</a></li>
</ul>