<% provide(:title, "Home") %>
<!--image from https://www.flaticon.com/free-icon/home_25694-->
<% provide(:icon_path, "home.png") %>

<p class = "bquote">
  &ldquo;<%=@text%>&rdquo;
</p>
<figcaption><%=@author%></figcaption>