<% provide(:title, "About") %>
<!--image from https://upload.wikimedia.org/wikipedia/commons/1/18/About_icon_%28The_Noun_Project%29.svg-->
<% provide(:icon_path, "about.svg") %>
<div class=about>
<h3>This site was created by <a href="https://github.com/NateWilliams2">Nate Williams</a> for CSC-324 at Grinnell College in the Fall of 2019.<br>
The <a href="https://github.com/NateWilliams2/touring_app">source code </a> for this website is available on GitHub. </h3>

<p>This project is a free web application which is intended to provide and easy-to-use, simple, and lighthearted interface for a small/mid-sized touring band to keep track of their logistics while on tour. Professionally-developed similar sites exist, with many more available features, but most of these charge users and have a higher barrier to ease-of-use because they cater to much larger bands which need more extensive and complicated features.
</p>

<p>This site showcases the variety of full-stack MVC development skills I've learned this semester. Most immediately visible are my web design skills. The homepage boasts a background image and a nav bar, both of which will scale nicely with the page size. The nav bar will even turn into a hide/show icon in mobile view. Other pages have card elements which highlight when moused-over, giving them an interactive and focused feel.  
</p>
<p>
The website also shows my developed knowledge about sessions controllers; users are invited to create an account or login, and act which creates or references a database entry with an encrypted password. The rest of the site displays information based on data belonging to this user. The touring calendar is the most technically complicated page, displaying information from multiple database tables in a nicely-formatted way. Phone numbers and websites are displayed in the form of links, and the most important information is the most readily visible. All elements, such as tours, shows, and band members, are easily created, edited, or deleted, using rails' forms. The tour finances page also shows my knowledge of helper functions which perform mathematical operations to display tour finance information.
</p>
<p>
Overall, this site served as an educational experience for me while providing a useful tool. It shows my breadth of understanding from databases up to website styling and even user interaction considerations, as well as the depth ok skill I've gained in each aspect of MVC architecture.
</p>
</div>