/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
   background-color: #f7ba58;
 }

 h1 {
  color: rgb(44, 17, 17);
  text-align: center;
}
h2 {
  color: rgb(44, 17, 17);
  text-align: center;
}
h3 {
  color: rgb(44, 17, 17);
  text-align: center;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: medium;
}

.alert-success {
  text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px; /* 5px rounded corners */
  padding: 0 0 1% 0;
  margin: 5px 3% auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card p {
  padding: 0px 0px;
  margin-bottom: 0;
}

.card i {
  padding: 0px 4px;
  margin-bottom: 0;
}

.centered {
    /* Add shadows to create the "card" effect */
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px; /* 5px rounded corners */
    padding: 0px auto;
    margin: 5px 3% auto;
    text-align: center;
}

.content {
  padding: 0px 0px;
  margin: 0 auto;
}

a {
  color: #204A6F;
}

a:hover {
  color: rgb(3, 52, 95)
}

  /* forms */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing(border-box);
  }
  
  input {
    height: auto !important;
  }

  table{
    margin: .5%;
    padding: .5%;
  }
  
      /*The following nav design is adapted from Dominik Biedebach, https://codepen.io/d2k/pen/jEmWXq/ */
 .nav {
  list-style: none;
  text-align: center;
    }
    .nav li {
      display: inline-block;
    }
    .nav li a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #521313;
      font-weight: 1000;
      text-transform: uppercase;
      margin: 0 auto;
    }
    .nav li a,
    .nav li a:after,
    .nav li a:before {
      transition: all .5s;
    }
    .nav li a:hover {
      color: #4affd5;
      text-decoration: underline;
    }

    .nav ul {
    list-style: none;
    text-align: center;
    }

    .nav ul li {
    display: inline-block;
    }
    .nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto;
    }
    .nav ul li a,
    .nav ul li a:after,
    .nav ul li a:before {
    transition: all .5s;
    }
    .nav ul li a:hover {
    color: #555;
    }

@media only screen and (min-width: 601px) {
  img {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }

  .nav a.icon {
    display: none;
    }
}
//mobile style settings
@media only screen and (max-width: 600px) {
  img {
    height: 800px;
    object-fit: cover;
  }
  .nav a.icon {
    display: block;
    }

  #myLinks {
    display: none;
  }
}