// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bquote {
    top: 5%;
    padding: auto;
    margin: 3% 3%;
    color: #ffffff;
    text-align: center;
    font-family: courier;
    font-size: x-large;
  }

.box {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin: 0;
}

.quote-text {
  text-align: center;
  width: 80%;
  background-color: rgba(14, 16, 26, 0.8);
  position: absolute;
  top: 20px;
  left:50%;
  margin-left: -40%;
}

  figcaption {
    margin: 0 10% 1% 0;
    padding: auto;
    color: #ffffff;
    text-align: right;
    font-family: courier;
    font-size: 150%;
    font-style: italic;
  }