// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
blockquote {
    padding: 0px;
    margin: 30px 2px 30px;
    color: #45421d;
    text-align: center;
    font-family: courier;
    font-size: 24px;
  }
  
  figcaption {
    color: #45421d;
    text-align: right;
    font-family: courier;
    font-size: 20px;
    font-style: italic;
  }