// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bquote {
    padding: auto;
    margin: 3% 3%;
    color: #45421d;
    text-align: center;
    font-family: courier;
    font-size: x-large;
  }
  
  figcaption {
    margin: 0 10% 0 0;
    padding: auto;
    color: #45421d;
    text-align: right;
    font-family: courier;
    font-size: 150%;
    font-style: italic;
  }